# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=2be841b2439e1b481b2ed04606d0890d
###< symfony/framework-bundle ###

# SHELL_VERBOSITY value 	Minimum log level
# -1 	ERROR
# 1 	NOTICE
# 2 	INFO
# 3 	DEBUG
#SHELL_VERBOSITY=3

# -----
# Docker variables
# -----
# Components versions
TAG_MARIADB=10.2.29
TAG_NGINX=1.20
TAG_PHP=7.4-fpm
TAG_PHPMYADMIN=5.1.1-fpm
TAG_MAILCATCHER=v0.8.0

# Project prefix
PROJECT=docker_sf5
PROJECT_VERSION=0
PROJECT_API_VERSION=1
PROJECT_PWA_VERSION=1

# PHP FPM
DATABASE_NAME=sf5
DATABASE_USER=sf5
DATABASE_PASSWORD=sf5
DATABASE_ROOT_PASSWORD=secret

# MariaDB
DATABASE_NAME=sf5
DATABASE_USER=sf5
DATABASE_PASSWORD=sf5
DATABASE_ROOT_PASSWORD=secret

# Application
APP_USER=www-data
