# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> docker ###
# -----
# Docker variables
# -----
# Components versions
TAG_MARIADB=10.5.11
TAG_NGINX=1.20
TAG_PHP=7.4-fpm
TAG_PHPMYADMIN=latest
TAG_MAILCATCHER=v0.8.0

# Project prefix
PROJECT=docker_sf5
PROJECT_VERSION=0
PROJECT_API_VERSION=1
PROJECT_PWA_VERSION=1

# MariaDB
DATABASE_HOST=mariadb
DATABASE_PORT=3306
DATABASE_NAME=sf5
DATABASE_USER=sf5
DATABASE_PASSWORD=sf5
DATABASE_ROOT_PASSWORD=secret

# Application
APP_USER=www-data
###< docker ###

### ---------------------------------------- ###

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=2be841b2439e1b481b2ed04606d0890d
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
# DATABASE_URL="mysql://sf5:sf5@mariadb:3306/sf5?serverVersion=mariadb-10.5.11"
# DATABASE_URL="postgresql://db_user:db_password@127.0.0.1:5432/db_name?serverVersion=13&charset=utf8"

DATABASE_URL=mysql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?serverVersion=mariadb-${TAG_MARIADB}
###< doctrine/doctrine-bundle ###
