version: "3.8"

services:

  # PHP interpreter
  php-fpm:
    ports:
      - "8000:8000"
    volumes:
      - ./:/var/www/:rw

  # API web server
  nginx-api:
    ports:
      - "8001:80"
    volumes:
      - ./:/var/www/:rw

  # Application database
  mariadb:
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql

  # MySQL Web interface
  # Browse http://localhost:8080 to monitor the database
  phpmyadmin:
    ports:
      - "8080:80"

  # Catch mails sent from the PHP application
  # Browse http://localhost:1080 to view the webmail
  mailcatcher:
    ports:
      - "1025:1025"
      - "1080:1080"

  # Front UI web server
  nginx-ui:
    ports:
      - "8002:80"
    volumes:
      - ./src_ui:/var/www/:rw
