version: "3.8"

services:

  # PHP interpreter
  php-fpm:
    ports:
      - "8000:8000"
    volumes:
      - ./:/var/www/

  # API web server
  nginx-api:
    ports:
      - "8001:80"
    volumes:
      - ./:/var/www/:ro

  # Application database
  mariadb:
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql

  # MySQL Web interface
  # Browse http://localhost:8080 to monitor the database
  phpmyadmin:
    ports:
      - "8080:80"

  # Catch mails sent from the PHP application
  # Browse http://localhost:1080 to view the webmail
  mailcatcher:
    ports:
      - "1025:1025"
      - "1080:1080"

  # Front UI build tools and development server
  # VueJS application
  node-vuejs:
    ports:
      - "4000:8080"
      - "4001:8000"
    volumes:
      - ./my-web-front:/app/:rw

  # NuxtJS application
  node-nuxtjs:
    ports:
      - "3000:3000"
    volumes:
      - ./my-nuxt-front:/app/:rw

  # Front UI production web server
  nginx-ui:
    ports:
      - "9001:80"
#    volumes:
#      - ./my-web-front/dist/:/usr/share/nginx/html/:ro

volumes:
  db-data:
  built-front:
