{# templates/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Hello Lucky Number!{% endblock %}

{% block body %}
    <h1>Your lucky number is {{ number }}</h1>

    <a href="/admin/company">Company</a>

    <a href="/admin/building">Building</a>

{% endblock %}
