{% extends 'base.html.twig' %}

{% block title %}Hello the relations!{% endblock %}

{% block content %}
    <h1>Hello relations!</h1>

    {# List of all the items #}
    {% for item in items %}
        <ul>
            <li><a href="{{ path('relation_show', {"id": item.id}) }}">{{ item.name }}</a></li>
        </ul>
    {% endfor %}
{% endblock %}
