{% extends 'base.html.twig' %}

{% block title %}A relation: #{{ item.id }}{% endblock %}

{% block content %}

    <form name="relationForm">
        <fieldset disabled="disabled">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="_name" value="{{ item.name }}"/>
            </div>

            {% if item.site is defined %}
                <div class="form-group">
                    <label for="location">Location:</label>
                    <a href="{{ path('building_show', {"id": item.site.id}) }}">{{ item.site.name }}</a>
                </div>
            {% endif %}
        </fieldset>
    </form>
{% endblock %}