{% extends 'base.html.twig' %}

{% block title %}Hello CompanyController!{% endblock %}

{% block content %}
    <h1>Hello companies!</h1>

    {# List of all the items #}
    {% for item in items %}
        <ul>
            <li><a href="{{ path('company_show', {"id": item.id}) }}">{{ item.name }}</a></li>
        </ul>
    {% endfor %}
{% endblock %}
